
<%- include('common/header') %>
<div class="container">

    <div class="row  ">
        <div class="col-12 d-flex justify-content-center my-4">
             <h1 class=" ">Bienvenido/a a mi pagina</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-3 text-center">
            <a href="./personas/"> <img src="/assets/personas.png" class="img-fluid" alt="personas">personas</a>
        </div>
        <div class="col-3 text-center">
            <a href="./tareas/"> <img src="/assets/tareas.png" class="img-fluid" alt="tareas">tareas</a>
        </div>
        <div class="col-3 text-center">
            <a href="./asignaciones/personas/"> <img src="/assets/pt.png" class="img-fluid" alt="personas con tarea">asignaciones de tareas</a>
        </div>
        <div class="col-3 text-center">
            <a href="./asignaciones/tareas/"> <img src="/assets/tp.png" class="img-fluid" alt="personas">asignaciones de tareas</a>
        </div>
    </div>







       

</div>
<%- include('common/footer')%>