
<%- include('common/header') %>
<div class="container">

    <div class="row  ">
        <div class="col-12 d-flex justify-content-center my-4">
             <h1 class=" ">Bienvenido/a a mi pagina</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <a href="./personas/"> <img src="/assets/personas.png" class="img-fluid" alt="personas"></a>
        </div>
        <div class="col-4">
            <a href="./tareas/"> <img src="/assets/tareas.png" class="img-fluid" alt="personas"></a>
        </div>
        <div class="col-4">
            <a href="./asignacion/"> <img src="/assets/Asignacion.png" class="img-fluid" alt="personas"></a>
        </div>
    </div>







       

</div>
<%- include('common/footer')%>