
<%- include('common/header') %>
<div class="container">

    <h1>Crea nueva persona</h1>


    <form action="/personas/" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" name="name" class="form-control" id="name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrico</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="telephone" class="form-label">Telefono</label>
            <input type="number" name="telephone" class="form-control" id="telephone">
          </div>
          <div class="mb-3">
            <label for="task" class="form-label">Tarea</label>
            <input type="text " name="tarea" class="form-control" id="task">
          </div>

          
       
        
        
        <button type="submit" value="submit" class="btn btn-success">Submit</button> <br><hr>

      </form>
    

    <a class="btn btn-primary" href="./" role="button">Volver a la lista</a>

       

</div>
<%- include('common/footer')%>