
<%- include('common/header') %>
<div class="container">

    


    <h1>Personas</h1>


        <% for (let p of data){ %>
            <ul>
                <li class="d-flex justify-content-between "><strong><%= p.name%></strong>
                    <a class="btn btn-primary" href="./detalle/<%= p._id %>" role="button">Detalle</a>

                    
                </li>
            </ul>
            <hr>


        <% } %>

        <a class="btn btn-warning" href="./new" role="button">Crea nueva persona</a>








       

</div>
<%- include('common/footer')%>